# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
/media/
.env

# Django specific
/staticfiles/
local_settings.py

# Node
node_modules/
build/
dist/

# System
.DS_Store
Thumbs.db

# Virtual environments
.venv/
env/
venv/
